h1
{
  color: green;
}

#navbar {
  background-color: #323a48;
  border-bottom: 4px solid #191c27;
  border-radius: 0px;
  margin-bottom: 0px;
}

.glyphicon {
  color: #fff;
}

#navbar-header {
  padding-top: 0.5%;
  padding-left: 3%;
  padding-bottom: 0.5%;
  width: 100%;
}

.jumbotron {
  height: 30%;
}


.grey {
  color: grey;
}

#footer {
  background-color: ;
  height:100px;
}

#platform {
  color: #FF7700;
}

#panel-body {
  width: 200px;
  height: 200px;
}

#color {
  color: #323a48;
}

#logo {
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  margin-right: ;
  font-size: 23px;
}

#span {

  height: 140px;
  width: 140px;
}

#login {
  margin-top: -24%;
  height: 71px;
  width: 100px;
  border-radius: 0px;
  color: #fff;
  background-color: transparent;
}

#login:hover {
  background-color: rgba(0,0,0,.7);
}

#smart {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin-left: ;
}
