{% extends "registration/base.html" %} 
{% load bootstrap3 %} 

{% block content %}
{{bock.super}}
    <style>
      .color {
        color: #323a48;
      }

      .grey {
         color: grey;
      }

      .grey:hover {
        text-decoration: none;
      }

      #c {
        color: #323a48;
      }

      #c:hover {
        text-decoration: none;
      }

    </style>
    <div class="row">
    <div class="jumbotron" style="height: 49em;">
        <div class="container">
          <h1 class="text-center" id="c">COMMODITIES TRADING</h1>
         
      
          <h2 class="text-center color">FAST EASY & RELIABLE</h2>
          
       
          <h4 class="text-center grey">*Amount to be credited to account in case of successful trade</h4>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <img src="img/mac.png" class="img-responsive">
            </div>
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-4" style="padding-left: 0px;">
              {% if form.errors %}
                <p> Password or Username is incorrect </p>
                {% endif %}
                <div class="panel panel-default" style="width: 25em; height: 29em;">

                  <div class="panel-heading" style="padding-left: 0px; padding-right: 0px; padding-bottom: 3px;">
                    <h3 class="text-center" style="color: #323a48;">OPEN <span style="color: #FF7700;">FREE ACCOUNT</span></h3>
                    <h5 class="text-left" style="margin-left: 5%; color: grey;">Fill in Form*</h5>
                  </div>
                  <div class="panel-body" style="padding-top: 0px;">

                    <form action="/accounts/login/" method="post">
                      {% csrf_token %} {% bootstrap_form form %}

                      <div class="form-group">
                        <input type="submit" class="btn btn-success btn-sm" value="Login" style="width: 26.5em; height: 3.2em; background-color: #54ae2a; border-radius: 2px; font-weight: bold;">
                      </div>

                      <input type="hidden" name="next" value="{{next}}">

                    </form>
                    <p class="text-center" style="color: grey; margin-bottom: 0px;">Don't have an account?</p>
                    <p class="text-center"><a href="/accounts/registration/" style="color: #FF7700;">REGISTER!</a></p>
                  </div>
                </div>  
            </div>
          </div>
        </div>  
    </div>
    </div>
    <div class="row" style="padding-top: 2.8em; padding-bottom: 2.8em; margin-bottom: 3.1em;">
      <div class="col-xs-12">
        <div class="row" style="margin-bottom: 2em;">
          <div class="col-xs-2 col-md-4">
          </div>
          <div class="col-xs-8 col-md-12">
            <h2 class="text-center" id="platform"><strong>OUR PLATFORM IS YOUR OPPORTUNITY</strong></h2>
          </div>
          <div class="col-xs-2 col-md-4">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-md-2">
          </div>
          <div class="col-xs-12 col-md-8">
            <div class="row">
              <div class="col-xs-12 col-md-3">
                <h4 class="text-center" style="color: rgb(255, 119, 0);"><strong>TRADING</strong></h4>
                <p class="text-center" style="color: #323a48; font-size: 17px;">Buy a wide range of commodities fast,cheaply and convinietly.</p>
              </div>
              <div class="col-xs-12 col-md-3">
                <h4 class="text-center" style="color: rgb(255, 119, 0);"><strong>FUTURES</strong></h4>
                <p class="text-center" style="color: #323a48; font-size: 17px;">Buy Futures for specific commodities to hedge against risk.</p>
              </div>
              <div class="col-xs-12 col-md-3">
                <h4 class="text-center" style="color: rgb(255, 119, 0);"><strong>ONLINE PAYMENT</strong></h4>
                <p class="text-center" style="color: #323a48; font-size: 17px;">Pay for your trades online using Mpesa and get your details.</p>
              </div>
              <div class="col-xs-12 col-md-3">
                <h4 class="text-center" style="color: rgb(255, 119, 0);"><strong>DELIVERY</strong></h4>
                <p class="text-center" style="color: #323a48; font-size: 17px;">Physical delivery of the commodities at your request anytime.</p>  
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-2">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="background-color: rgba(0,0,0,.7); height: 3.2em; position: fixed; bottom: 0px; margin-left: 1em; border-top-color: #FF7700; border-top-width: 13px;">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <span class="social2" id="s1"><a href=""><i class="fa fa-twitter"></i></a></span>
            <span class="social2" id="s2"><a href=""><i class="fa fa-google"></i></a></span>
            <span class="social2" id="s3"><a href=""><i class="fa fa-linkedin"></i></a></span>
          </div>
          <div class="col-xs-2">
          </div>
        </div>
      </div>
    </div>
{% endblock %}

