{% extends 'all-app/base.html' %}
{% load static %}
{% load bootstrap3 %} 

{% block content %}
{{bock.super}}
    <style>
      #remove2 {
        border-radius: 0px; 
        color: #fff; 
        background-color: #F54031; 
        font-weight: bold;
      }

      #remove2:hover {
        color: #FF7700;
        background-color: #fff;     
      }

      #remove {
        border-radius: 0px; 
        color: #fff; 
        background-color: 
        #03AB42; 
        font-weight: bold;
      }

      #remove:hover {
        color: #FF7700;
        background-color: #fff;     
      }

       .viewall2 {
        border-radius: 0px; 
        background-color: #FF7700; 
        color: #fff; 
        width: 90px; 
        margin-left: 30%;
        margin-top: 5%;
       }

        .viewall2:hover {
          color: #FF7700;
          background-color: #fff;
        }

      .sell:hover {
        font-weight: bold;
      }

      #sellorder:hover {
        font-weight: bold;
      }


      #bellow:hover {
        color: #fff;
      }

      .dashboard:hover {
        background-color: #192030;
      }
    </style>
    <div class="row" style="height: ;">
      <div class="col-sm-1 col-md-1 active" style="background-color: #323a48; height: 718.5px; min-height: 100%; border-bottom-width: 2px; border-bottom-color: grey; border-right: 2px solid grey;">
        <div class="row dashboard">
          <div class="col-xs-4 col-md-2"></div>
          <a href="{% url 'profile' %}"><div class="col-xs-4 col-md-8" style="padding-top: 18%;">
            <span style="margin-left: 10%;"><i class="glyphicon glyphicon-user" style="font-size: 40px; color: grey ;"></i></span>
            <h5 style="color: grey;">PROFILE</h5>
          </div></a>
          <div class="col-xs-4 col-md-2"></div>
        </div>
        <div class="row dashboard">
          <div class="col-xs-4 col-md-2"></div>
          <a href="{% url 'landing_page' %}"><div class="col-xs-4 col-md-8" style="padding-top: 18%;">
            <span style="margin-left: 10%;"><i class="glyphicon glyphicon-signal" style="font-size: 40px; color: grey;"></i></span>
            <h5 style="color: grey;">TRADE</h5>
          </div></a>
          <div class="col-xs-4 col-md-2"></div>
        </div>
        <div class="row dashboard">
          <div class="col-xs-4 col-md-2"></div>
          <a href="{% url 'futures' %}"><div class="col-xs-4 col-md-8" style="padding-top: 18%;">
              <span style="margin-left: 10%;""><i class="glyphicon glyphicon-sort" style="font-size: 40px; color: grey;""></i></span>
            <h5 style="color: grey;">FUTURES</h5>  
          </div></a>
          <div class="col-xs-4 col-md-2"></div> 
        </div>
        <div class="row dashboard">
          <div class="col-xs-4 col-md-2"></div>
          <div class="col-xs-4 col-md-8" style="padding-top: 18%;">
              <span style="margin-left: 10%;""><i class="glyphicon glyphicon-equalizer" style="font-size: 40px; color: grey;""></i></span>
            <h5 style="color: grey;">MARKET ANALYSIS</h5>  
          </div>
          <div class="col-xs-4 col-md-2"></div> 
        </div>
        <div class="row dashboard">
          <div class="col-xs-4 col-md-2"></div>
          <div class="col-xs-4 col-md-8" style="padding-top: 18%;">
              <span style="margin-left: 10%;""><i class="glyphicon glyphicon-info-sign" style="font-size: 40px; color: grey;""></i></span>
            <h5 style="color: grey; margin-left: 7%;">ABOUT</h5>  
          </div>
          <div class="col-xs-14 col-md-2"></div> 
        </div>
        <div class="row dashboard">
          <div class="col-xs-4 col-md-2"></div>
          <div class="col-xs-4 col-md-8" style="padding-top: 18%;">
              <span style="margin-left: 10%;""><i class="glyphicon glyphicon-question-sign" style="font-size: 40px; color: grey;""></i></span>
            <h5 class="text-center" style="color: grey;">HELP</h5>  
          </div>
          <div class="col-xs-4 col-md-2"></div> 
        </div>
      </div>
      <div class="col-sm-2 col-md-2" style="background-color: #192030; height: 719.5px;  border-bottom-width: 2px; border-bottom-color: grey; border-right: 2px solid grey; overflow-y: scroll;">
        <div class="row">
          <div class="col-md-12" style="padding-top: 5%; padding-left: 10%; padding-right: 10%;  padding-bottom: 8%; border-bottom-color: grey; border-bottom-width: 2px; border-bottom-style: solid;">
            <h4 class="text-center" style="color: #fff;">WHEAT</h4>
            <p class="text-left" style="color: grey;">Smart Trade is  the center of trading in agricultural commodities. We offer futures and options on the leading softs markets including coffee, cocoa, cotton, sugar and frozen concentrated orange juice, as well as a wide range of grains futures and options, including the leading canola futures contract.
            </p>
            <button class="btn viewall2">View All</button>
            <p class="" style="color: #03AB42; margin-top: 5%; margin-left: 25%; font-weight: bold;">4 Commodities</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="padding-top: 5%; padding-left: 10%; padding-right: 10%;  padding-bottom: 8%; border-bottom-color: grey; border-bottom-width: 2px; border-bottom-style: solid;">
            <h4 class="text-center" style="color: #fff;">SUGAR</h4>
            <p class="text-left" style="color: grey;">Smart Trade is  the center of trading in agricultural commodities. We offer futures and options on the leading softs markets including coffee, cocoa, cotton, sugar and frozen concentrated orange juice, as well as a wide range of grains futures and options, including the leading canola futures contract.
            </p>
            <button class="btn viewall2">View All</button>
            <p class="" style="color: #03AB42; margin-top: 5%; margin-left: 25%;font-weight: bold;">4 Commodities</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="padding-top: 5%; padding-left: 10%; padding-right: 10%;  padding-bottom: 8%; border-bottom-color: grey; border-bottom-width: 2px; border-bottom-style: solid;">
            <h4 class="text-center" style="color: #fff;">COFFEE</h4>
            <p class="text-left" style="color: grey;">Smart Trade is  the center of trading in agricultural commodities. We offer futures and options on the leading softs markets including coffee, cocoa, cotton, sugar and frozen concentrated orange juice, as well as a wide range of grains futures and options, including the leading canola futures contract.
            </p>
            <button class="btn viewall2">View All</button>
            <p class="" style="color: #03AB42; margin-top: 5%; margin-left: 25%;font-weight: bold;">4 Commodities</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="padding-top: 5%; padding-left: 10%; padding-right: 10%;  padding-bottom: 8%; border-bottom-color: grey; border-bottom-width: 2px; border-bottom-style: solid;">
            <h4 class="text-center" style="color: #fff;">COTTON</h4>
            <p class="text-left" style="color: grey;">Smart Trade is  the center of trading in agricultural commodities. We offer futures and options on the leading softs markets including coffee, cocoa, cotton, sugar and frozen concentrated orange juice, as well as a wide range of grains futures and options, including the leading canola futures contract.
            </p>
            <button class="btn viewall2">View All</button>
            <p class="" style="color: #03AB42; margin-top: 5%; margin-left: 25%;font-weight: bold;">4 Commodities</p>
          </div>
        </div>
      </div>
      <div class="col-md-7" style="background-color: #323a48; height: 718.5px; border-left-style: solid; border-left-width: 2px; border-left-color: grey;  overflow-y: scroll;">
        <div class="row">
          <div class="col-md-12">
            <div class="row"  style="padding-bottom: 7px; padding-top: 15px; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: grey;">
              <div class="col-md-12" style="padding-bottom: 10px;">
                <h4 style="text-align: center; color: #fff;">WHEAT FUTURES</h4>
                <h4 style="text-align: center; color: grey;">Price / quantity / Price Change / Settle Date</h4>
              </div>
            </div>
            {% for wheat_future in all_wheat_futures %}
              <div class="row"  style="padding-bottom: 15px; border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: grey; padding-top: 15px;">
                <div class="col-md-1">
                  <i class="glyphicon glyphicon-signal" style="color: #fff; border-radius: 50%;text-decoration: none; margin-right: 0.2em; font-size: 13px; background-color: rgb(255, 119, 0); height: 30px; width: 30px; padding-top: 0.4em; padding-left:0.4em; display: inline-block; margin-left: 1em;"></i>
                </div>
                <div class="col-md-2">
                  <h4 style="display: inline-block; color: #03AB42; font-weight: bold;">{{wheat_future.unit_price}}</h4>
                </div>
                <div class="col-md-2">
                  <h4 style="display: inline-block; color: #FF7700; font-weight: bold;">{{wheat_future.quantity}}</h4>
                </div>
                <div class="col-md-1">
                  <h4 style="display: inline-block; color: #03AB42; font-weight: bold;">+%</h4>
                </div>
                <div class="col-md-3">
                  <h4 style="display: inline-block; color: #fff; font-weight: bold;">{{wheat_future.settlement_date}}</h4>
                </div>
                <div class="col-md-3">
                  <a href=""><button class="btn" id="remove">Buy</button></a>
                  <a href=""><button class="btn" id="remove2">Sell</button></a>
                </div>
              </div>
              {% endfor %} 
          </div>
        </div>
      </div>
      <div class="col-md-2" style="background-color: #192030; height: 718.5px; border-left-style: solid; border-left-width: 2px; border-left-color: grey;">
          
      </div>
    </div>

  <!-- <div>
    <div class="row" style="height: auto; border-bottom-width: 2px; border-bottom-color: #fff;">
      <div class="col-xs-12 col-md-1" style="background-color: #323a48; height: 100%; border-top-width: 2px; border-right-width: 2px; border-top-color: #fff; border-right-color: #fff;">
       
      </div>
      <div class="col-xs-12 col-md-10" style="background-color: #323a48; height: 100%; border-top-width: 2px; border-right-width: 2px; border-top-color: #fff; border-right-color: #fff;">
       
      </div>
      </div>
      <div class="col-xs-12 col-md-1" style="background-color: #323a48; height: 100%; border-top-width: 2px; border-right-width: 2px; border-top-color: #fff; border-right-color: #fff;">
       
      </div>
    </div>
  </div> -->
{% endblock %}

