{% extends 'all-app/base.html' %}
{% load static %}
{% load bootstrap3 %} 

{% block content %}
{{bock.super}}
  <div class="container-fluid" style="">
    <div class="row">
      <div class="col-sm-1 col-md-1" style="background-color: #323a48; height: auto; border-bottom-width: 2px; border-bottom-color: grey; border-right: 2px solid grey;">
        <p>Lorem ipsum...</p>
      </div>
      <div class="col-sm-2 col-md-2" style="background-color: #323a48; height: auto; border-bottom-width: 2px; border-bottom-color: grey; border-right: 2px solid grey;">
        <p>Sed ut perspiciatis...</p>
      </div>
      <div class="col-sm-9 col-9" style="background-color: #323a48; height: auto; border-bottom-width: 2px; border-bottom-color: grey;">
        <p>Sed </p>
      </div>
    </div>
  </div>

  <!-- <div>
    <div class="row" style="height: auto; border-bottom-width: 2px; border-bottom-color: #fff;">
      <div class="col-xs-12 col-md-1" style="background-color: #323a48; height: 100%; border-top-width: 2px; border-right-width: 2px; border-top-color: #fff; border-right-color: #fff;">
       
      </div>
      <div class="col-xs-12 col-md-10" style="background-color: #323a48; height: 100%; border-top-width: 2px; border-right-width: 2px; border-top-color: #fff; border-right-color: #fff;">
       
      </div>
      </div>
      <div class="col-xs-12 col-md-1" style="background-color: #323a48; height: 100%; border-top-width: 2px; border-right-width: 2px; border-top-color: #fff; border-right-color: #fff;">
       
      </div>
    </div>
  </div> -->
{% endblock %}

