<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="row">
    <div class="col-xs-12" id="navbar" style="background-color: #323a48; border-bottom: 4px solid #191c27;border-radius: 0px; margin-bottom: 0px; height: 5.4em; padding-top: 1.6em">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
          <span id="span"><i class="glyphicon glyphicon-signal" id="logo" style=""></i></span>
          <a class="" href="{% url 'landing_page' %}" id="smart">SMART TRADE</a>

        </div>
        <div class="col-xs-1">
         
        </div> 
      </div>
    </div>   
  </div>
</body>
</html>