<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    #login {
      
      border-radius: 0px; background-color: transparent; height: 5.7em; width: 7.7em; font-size: 14px;font-weight: ; color: #fff;
    }
    #login:hover {
      background-color: rgba(0,0,0,.7);
    }
  </style>
</head>
<body>
  <div class="row">
    <div class="col-xs-12" id="navbar" style="background-color: #323a48; border-bottom: 2px solid grey;border-radius: 0px; margin-bottom: 0px; height: 5.7em;">
      <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <a href="/accounts/login"><div class="col-xs-12 col-md-7" style="padding-top: 1.2em">
          <i class="glyphicon glyphicon-signal" style="color: #fff; border-radius: 50%;text-decoration: none; margin-right: 0.3em; font-size: 23px; background-color: rgb(255, 119, 0); height: 50px; width: 50px; padding-top: 0.4em; padding-left: 0.4em;"></i>
          <a class="" href="{% url 'landing_page' %}" style=" color: #fff; border-radius: 50%;text-decoration: none; margin-right: ; font-size: 30px; font-weight: bold;">SMART TRADE</a>
          
        </div></a>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              {% if user.is_authenticated %}
                <h5 style="color: #FF7700; font-weight: bold; margin-top: 1.5em; margin-bottom: 0px;">ACCOUNT BALANCE</h5>
                <h2 style="color: #FF7700; font-weight: bold; margin-top: 0px;">Ksh{{current_user.profile.account}}</h2>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-2">
            {% if user.is_authenticated %}
                <ul>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false" style="border-radius: 0px; color: #FF7700; font-weight: bold; margin-top: 1.7em;">ACCOUNT
                              <span class="caret"></span>
                          </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="/accounts/password/change" style="color: #FF7700; font-weight: bold;">CHANGE PASSWORD</a>
                      </li>
                      <li>
                        <a href="/logout" style="color: #FF7700; font-weight: bold">LOGOUT</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              {% else %}
              <a href="/accounts/login"><button class="btn" id="login">LOGIN</button></i></a>
              {% endif %}
        </div> 
      </div>
    </div>   
  </div>
</body>
</html>